*{box-sizing: border-box;}

.logo{
    width: 165px;
    height: 165px;
    display: flex;
    object-fit: cover;

}
.onglet{
    text-decoration: none;
    color: #ffe4cf;
    padding: 70px;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-size: larger;

}
.header{
    background-color: aquamarine;
    align-items: center;
    display: flex;
    top:0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);;
    color: #ffe4cf;
    transition: background-color 0.6s ease;
    padding : 20px 64px;
    z-index: 10;
    position: fixed;
    
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Dekorasyon.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:-50% ;
 
    }
.heroContent{
    width: 70%;
    background-color: hwb(27 36% 13% / 0.336);
    padding: 20px 50px;
    border-radius: 15px;
    color: #36210e;
}



.imagg{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.carte{
    border-radius: 30px;
    box-shadow: 1px 1px 5px black;
    width: 700px;
    display: flex;
    margin: 100px;
}
.nospatisseries{

    font-family: "Lugrasimo", cursive;
    font-weight: 600;
    margin: 100px 0px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    align-items: center;
    background-color: #ffe4cf;
    padding: 20px 20px;
    width: 1245px;
    color: #36210e;
    display: flex;
    font-optical-sizing: auto;
    justify-content: center;

 
}
